.app-bg {
  min-height: 100dvh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: clamp(1rem, 4vw, 2rem) 0;
  position: relative;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 3vw, 2rem);
  width: clamp(90vw, 600px, 100vw);
  max-width: 600px;
}

.hero-big-text {
  font-family: "Coconat", sans-serif;
  font-size: clamp(2rem, 6vw, 3rem);
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  letter-spacing: -.2rem;
  padding: 0 clamp(0.5rem, 2vw, 1rem);
}

.cta {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-bottom: 1px solid #f0f5f4;
  padding: 1rem 0;
}

.cta p {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10%;
  line-height: 140%;
  font-family: "Lexend Tera", sans-serif;
}

.form-container {
  background-color: #f0f5f4;
  border: 1px solid #105e53;
  padding: clamp(1rem, 4vw, 2rem);
  max-width: 654px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: clamp(1.2rem, 3vw, 2.5rem);
  color: #105e53;
  font-family: "Coconat", sans-serif;
  border-radius: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.form-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.form-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-text h3 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -.1rem;
}

.form-text p {
  font-family: "Newsreader 6pt Light", serif;
  font-weight: 300;
  font-size: clamp(0.95rem, 2vw, 1rem);
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Newsreader 6pt Light", serif;
}

.close-button {
  cursor: pointer;
}

.top-inputs {
  display: flex;
  gap: 1rem;
}

.form-input {
  width: 100%;
  padding: clamp(8px, 2vw, 12px) 0px;
  color: #105e53;
  font-weight: 300;
  font-size: clamp(0.95rem, 3vw, 1rem);
}

.form-input::placeholder {
  color: #105e53;
  font-weight: 300;
  font-size: 1rem;
}

.bottom-inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.warning-text {
  font-size: 12px;
  color: #105e53;
  letter-spacing: 10%;
  font-family: "Lexend Tera", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.subscribe-btn {
  background-color: #105e53;
  color: #f0f5f4;
  padding: 1rem 2rem;
  font-family: "Lexend Tera", sans-serif;
  font-weight: 400;
  font-size: clamp(0.95rem, 3vw, 1rem);
  text-transform: uppercase;
  letter-spacing: 10%;
  cursor: pointer;
  width: 207px;
}
@media (max-width: 700px) {
  .logo img{
    width: 80%;
  }

  .form-container {
    gap: 2rem;
    padding: 24px;
  }
  .form-text{
    width: 281px;
  }

  .form-text h3 {
    font-size: 2rem;
  }

  .form-text p {
    font-size: .75rem;
  }

  .subscribe-btn {
    width: 171px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cta p {
    font-size: .75rem;
  }
}
